table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  /*class="bg-gray-50";*/
  background: #e4e6e6;
  border-radius: 8px;
}
tr:nth-child(od) {
  /*    class="bg-white";*/
  background: white;
}
