@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-hover1: #f1f4f7;
  --color-theme: #339dff;
  --color-divider: #e6e6e6;
  --default-bg-color: #fff;
  --color-main: #222;
  --bg-color-3: #fff;
  --color-link: #1991eb;
  --color-secondary: #666;
  --color-warning: #ff9526;
  --btn-primary-hover: rgba(0, 0, 0, 0.15);
  --box-shadow-color2: rgba(0, 0, 0, 0.2);
  --default-bg-color: #fff;
  --color-failed: #f6394d;
  --color-success-rgb: 168, 215, 108;
  --color-warning-rgb: 255, 149, 38;
  --color-failed-rgb: 246, 57, 77;
  --color-online: #14b474;
  --icon-hover-color: #222;
  --color-hover2: #f1f4f7;
  --btn-secondary-focus: rgba(0, 0, 0, 0.2);
  --btn-secondary-border: #d4dadd;
  --btn-primary-focus: rgba(0, 0, 0, 0.2);
  --color-icon: #627282;
  --color-red: #ef5364;
}

body {
  background-color: #eaeaea;
}
